@(tweeForm: Form[models.Twee], twees: Seq[Twee])

@import play.api.data.Form

@import models.Twee

@main("Twi") {
    <h2>New Twee</h2>
    @helper.form(action = routes.Application.createTwee()) {
      <fieldset>
        @helper.inputText(tweeForm("message"),
			'autofocus -> "autofocus",
			'_showConstraints -> false
		)
		<input type="submit" value="Create Twee" />
      </fieldset>
    }
    
    <h2>Recent Twees</h2>
	<ul>
		@twees.map {twee =>
			<li>@twee.message <span class="twee-timestamp">@twee.created</span></li>
		}
	</ul>
    
}
