@(tweeForm: Form[models.Twee], twees: Seq[Twee])

@import play.api.data.Form

@import models.Twee

@import helper.FieldConstructor

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Twi") {
    <h2>New Twee</h2>
    @helper.form(action = routes.Application.createTwee()) {
      <fieldset>
        @helper.inputText(tweeForm("message"),
			'autofocus -> "autofocus",
			'_showConstraints -> false
		)
		<input type="submit" value="Create Twee" class="btn-primary" />
      </fieldset>
    }
    
    <h2>Recent Twees <span class="badge badge-info">@twees.size</span></h2>
	
	<ul>
		@twees.map {twee =>
			<li><span class="twee-message">@twee.message</span> <span class="twee-timestamp">@twee.created</span></li>
		}
	</ul>
    
}
